/****** BASE STYLES ******/

body {
    color: #f16059 ;
    background-color:#daf7f6;
    font-size:12px;
    font-family: 'Open Sans', sans-serif;
    line-height:16px;
}

header {
    background-color: #FFFFFF;
    text-align: center;

}

header h1 {
    display:inline-block;
    padding:40px 0;
    font-family: 'Montserrat', sans-serif;
    color: #F16059;
    text-transform:uppercase;
    margin:0;
    font-size:48px;
    font-weight: bold;
}
header img {
  margin-right: 16px;
}

main {
  width: 1000px;
  margin:0 auto;
  color:black;
}

/****** PUTTING THE IMAGE ******/

.card {
  margin: 25px 0px;
  overflow:auto;
}

.image {
  height:550px;
  width:500px;
  float: left;

}

.recipe {
  padding:20px;
  float: left;
  width: 500px;
  height:550px;
  background-color: white;
  box-sizing: border-box;
}

/****** ADDING THE IMAGE ******/

#cookies .image {
background-image:url("../img/gluten-free-sugar-cookies.jpg");
background-size: cover;
}
#pesto .image {
  background-image:url("../img/nut-free-pesto.jpg");
  background-size: cover;
}

#salad .image {
  background-image:url("../img/watermelon-salad.jpg");
  background-size: cover;
}

/****** Styling Recipe Times ******/


.recipe h2 {
             color:#F16059;
             font-size:24px;
             font-weight:bold;
             font-family: 'Open Sans', sans-serif;
             text-transform: uppercase;
             margin-top:0;
}

/****** BOX AROUND FOR TIMER ******/

.time {
  margin-bottom: 20px;
  border: 1px;
  color: #3B3B3B;
  overflow: auto;
  border-style: solid;

}

.time div {
float: left;
padding-left: 6px;
width: 33.3333%;
box-sizing: border-box;
text-transform: uppercase;

}
.time .cook  {
  border-width:0px 1px;
  border-color: #3B3B3B;
  border-style: solid;

}

.time-details  {
display: inline-block;


}


.time strong  {
 font-family: 'Montserrat', sans-serif;
}

.time img {
	margin-right: 5px;
	vertical-align: middle;
	width: 15px;
	height: auto;
}

/****** Creating Multiple Columns H3 ******/

.columns {
 overflow: auto;
 }

 .directions {
  float: left;
  width: 240px;
  }

  .ingredients  {
   float: left;
   width: 205px;
   margin-right: 15px;

   }

   .recipe h3  {
    padding: 6px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: #3B3B3B;
    border-style: solid;
    font-size: 12px;
    border-width: 1px 0px;
    text-transform: uppercase;
    color: #F16059;
    }

    .ingredients div {
    padding-left: 15px;
    line-height: 10px;
     }

    .ingredients ul {
       list-style-type: square;
       padding-left: 15px;
       line-height: 22px;
     }

     .directions ol {
       padding-left: 15px;
       line-height: 22px;
     }
